* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}

:root {
  --bg-color: #f0f2f5;       
  --text-color: #333333;     
  --accent-color: #646cff;   
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 3rem;
  color: var(--accent-color);
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 10px;

